.about-project__action_header {
    position: relative;
    min-height: 120px;
    border-radius: 70px;
}

@media screen and (max-width: 1440px){
    .about-project__action_header {
        min-height: 70px;
    }
}