.article-description__container {
  overflow-y: auto;
  max-height: 162px;
  padding-right: 10px;
}

.article-description__container::-webkit-scrollbar {
  width: 5px;
}


/* Thumb */
.article-description__container::-webkit-scrollbar-thumb {
  background: #E8E6E6;
  border-radius: 5px;
  max-height: 10px;
}