.button-rubric {
  font-family: "PTRoot";
  font-size: 10px;
  line-height: 13px;
  padding: 2px 7px;
  color: #464646;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 15px;
}