.calendar-card {
  max-width: 570px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 30px;
  padding: 30px 15px;
}

.calendar-card_state_active {
  background: #c8d1ff;
}

@media (min-width: 425px) {
  .calendar-card {
    padding: 30px;
  }
}
