.calendar-card__subtitle {
  /* podpis */

  font-family: "PTRoot";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */
  max-width: 320px;
  letter-spacing: 0.2px;

  /* dark_gray */

  color: #464646;
}
