.calendar-card__subtitle {
  margin: 0;
  font-family: "PTRoot";
  font-style: normal;
  font-weight: normal;
  max-width: 320px;
  letter-spacing: 0.2px;
  font-size: 12px;
  line-height: 17px;
  color: #464646;
}

@media (min-width: 425px) {
  .calendar-card__subtitle {
    font-size: 14px;
    line-height: 19px;
  }
}
