.footer__navigation-link {
  font-family: "Proto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-right: 15px;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  /* background */

  color: #f3f2f2;
}
