@media screen and (max-width: 1024px) {
  .header__menu_navigation {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header__menu_navigation {
    display: none;
    position: absolute;
    left: 117px;
    top: 90px;
    grid-template-rows: repeat(6, 18px);
    row-gap: 20px;
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .header__menu_navigation {
    display: none;
    position: absolute;
    left: 40px;
    top: 90px;
    grid-template-rows: repeat(6, 18px);
    row-gap: 15px;
    flex-direction: row;
  }
}

@media screen and (max-width: 576px) {
  .header__menu_navigation {
    left: 15px;
  }
}