.numbers {
    margin: 0;
    font-family: Proto Grotesk Web Light, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2px;
}
