.paragraph {
    margin: 0;
    font-family: PTRoot, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

@media screen and (max-width: 1440px){
    .paragraph {
        font-size: 15px;
        line-height: 21px;
    }
}