.profile-form__button_type_delete {
    font-family: Proto;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A7A6A6;
    transition: .5s color;
}

.profile-form__button_type_delete:hover {
    color: #464646;
}

@media screen and (max-width: 576px) {
    .profile-form__button_type_delete {
        grid-row: 0 / 1;
        font-size: 12px;
        line-height: 17px;
    }
}