.profile-form__image-add_title {
    margin-top: 15px;
    font-family: Proto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A7A6A6;
}