.profile-form__fieldset_text_wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 370px) minmax(min-content, 240px);
    grid-template-rows: 48px;
    column-gap: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .profile-form__fieldset_text_wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}