.section-main {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .section-main {
    flex-direction: column;
  }
}

