.section-main-video {
  max-height: 408px;
}

@media screen and (max-width: 1440px) {
  .section-main-video {
    min-height: 380px;
  }
}

@media screen and (max-width: 1024px) {
  .section-main-video {
    min-height: 358px;
  }
}

@media screen and (max-width: 425px) {
  .section-main-video {
    min-height: 313px;
  }
}