.story-cover__content {
  width: 100%;
  min-height: 290px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 46, 46, 0.8);
  opacity: 0;
  
  
}

.story-cover__content:hover {
  opacity: 1;
  transition: opacity linear 0.3s;
}

@media screen and (max-width: 320px) {
  .story-cover__content {

  }
}