.video-film__paragraph {
    font-family: PT Root UI, sans-serif;
    width: calc(100% - 15px * 2);
    text-align: center;
    margin: 15px auto 10px auto;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #464646;
}